
    <div class="sidebar close">
        <div class="logo-details">
            <i  class='bx bx-menu'></i>
            <span class="logo_name">Consultancy</span>
        </div>
        <ul class="nav-links">
            <li>
                <a href="#">
                    <i class='bx bx-grid-alt'></i>
                    <span class="link_name">Dashboard</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Dashboard</a></li>
                </ul>
            </li>
           
            
           
           
            <li>
                <a href="#">
                    <i class='bx bx-user'></i>
                    <span class="link_name">User</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">User</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                <i class="bx bx-user-pin"></i>
                    <span class="link_name">Designation</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Designation</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-crosshair'></i>
                    <span class="link_name">Skills</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Skills</a></li>
                </ul>
            </li>
                    <li>
                        <a href="#">
                            <i class='bx bx-customize'></i>
                            <span class="link_name">Panel Skills</span>
                        </a>
                        <ul class="sub-menu blank">
                            <li><a class="link_name" href="#">Panel Skills</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class='bx bx-window-alt'></i>
                            <span class="link_name">Job Posting</span>
                        </a>
                        <ul class="sub-menu blank">
                            <li><a class="link_name" href="#">Job Posting</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class='bx bx-user-circle'></i>
                            <span class="link_name">Candidate</span>
                        </a>
                        <ul class="sub-menu blank">
                            <li><a class="link_name" href="#">Candidate</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class='bx bx-user-voice'></i>
                            <span class="link_name"> Interviews</span>
                        </a>
                        <ul class="sub-menu blank">
                            <li><a class="link_name" href="#"> Interviews</a></li>
                        </ul>
                    </li>
                    
            <!-- <li>
                <div class="iocn-link">
                    <a href="#">
                        <i class='bx bx-collection'></i>
                        <span class="link_name">list</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">list</a></li>
                    <li><a href="#">list 1</a></li>
                    <li><a href="#">list 2</a></li>
                    <li><a href="#">list 3</a></li>
                </ul>
            </li> -->
            <li>
                <div class="profile-details" style="justify-content: center;
    text-align: center;">
                    
                    <div class="name-job">
                        <div class="profile_name">Version</div>
                        <div class="job">1.0.0</div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!-- <section class="home-section">
        <div class="home-content">
            <i class='bx bx-menu'></i>
            <span class="text">Drop Down Sidebar</span>
        </div>
    </section> -->

  

  
